networks:
  webnet:
    external: true

services:
  db-periodicos2:
    # image: postgres:12
#    env_file:
#      - .env
    build:
      context: .
      dockerfile: Dockerfile-db
    container_name: "ojs_db_${COMPOSE_PROJECT_NAME:-demo}"
    hostname: postgres-periodicos2
    environment:
      - POSTGRES_USER=${OJS_DB_USER:-postgres}
      - POSTGRES_PASSWORD=${OJS_DB_PASSWORD:-ojs}
      - POSTGRES_DB=${OJS_DB_NAME:-ojs}
      # Configuração para aceitar todas conexões
      # - POSTGRES_HOST_AUTH_METHOD=trust  # Cuidado: use apenas em desenvolvimento!
    ports:
      - "54334:5432"
    volumes:
      - ./volumes/arquivos-sistema/dump-db:/docker-entrypoint-initdb.d
    networks:
      - webnet
    restart: unless-stopped

  ojs-periodicos2:
    # image: "pkpofficial/${OJS_IMAGE:-ojs}:${OJS_VERSION:-3_3_0-17}"
#    env_file:
#      - .env
    build:
      context: .
      dockerfile: Dockerfile-ojs    
    container_name: "ojs_app_${COMPOSE_PROJECT_NAME:-demo}"
    hostname: ojs-periodicos2
    ports:
      - "${HTTP_PORT:-8981}:80"
      - "${HTTPS_PORT:-4433}:443"
    volumes:
      - ./volumes/arquivos-sistema/private/files:/var/www/files
      - ./volumes/arquivos-sistema/public:/var/www/html/public
    networks:
      - webnet
    depends_on:
      - db-periodicos2
    restart: unless-stopped
