networks:
  webnet:
    external: true

services:
  db-periodicos2:
    # image: postgres:12
#    env_file:
#      - .env
    build:
      context: .
      dockerfile: Dockerfile-db
    container_name: "ojs_db_${COMPOSE_PROJECT_NAME:-demo}"
    hostname: postgres-periodicos2
    environment:
      - POSTGRES_USER=${OJS_DB_USER:-postgres}
      - POSTGRES_PASSWORD=${OJS_DB_PASSWORD:-ojs}
      - POSTGRES_DB=${OJS_DB_NAME:-ojs}
      # Configuração para aceitar todas conexões
      # - POSTGRES_HOST_AUTH_METHOD=trust  # Cuidado: use apenas em desenvolvimento!
    ports:
      - "54334:5432"
    volumes:
      - ./volumes/arquivos-sistema/dump-db:/docker-entrypoint-initdb.d
    networks:
      - webnet
    restart: unless-stopped

  ojs-periodicos2:
    # image: "pkpofficial/${OJS_IMAGE:-ojs}:${OJS_VERSION:-3_3_0-17}"
#    env_file:
#      - .env
    build:
      context: .
      dockerfile: Dockerfile-ojs
    # environment:
    #   - PHP_EXTENSIONS=php81-bcmath php81-bz2 php81-calendar php81-ctype php81-curl php81-dom php81-exif php81-fileinfo php81-ftp php81-gd php81-gettext php81-intl php81-iconv gnu-libiconv php81-json php81-mbstring php81-pgsql php81-pdo_pgsql php81-mysqli php81-opcache php81-openssl php81-pdo_mysql php81-phar php81-posix php81-session php81-shmop php81-simplexml php81-sockets php81-sysvmsg php81-sysvsem php81-sysvshm php81-tokenizer php81-xml php81-xmlreader php81-xmlwriter php81-zip php81-zlib
    container_name: "ojs_app_${COMPOSE_PROJECT_NAME:-demo}"
    hostname: ojs-periodicos2
    ports:
      - "${HTTP_PORT:-8981}:80"
      - "${HTTPS_PORT:-4433}:443"
    volumes:
      - ./volumes/arquivos-sistema/private/files:/var/www/files
      - ./volumes/arquivos-sistema/public:/var/www/html/public
#      # WARNING: You can only enable file-volumes if file exists in the container.
      # - ./volumes/config/config.inc.php:/var/www/html/config.inc.php
#      - ./volumes/config/apache.htaccess:/var/www/html/.htaccess
#      - ./volumes/php.custom.ini:/usr/local/etc/php/conf.d/custom.ini
    networks:
      - webnet
    depends_on:
      - db-periodicos2
    restart: unless-stopped
