    RewriteEngine On
    RewriteBase /

    # Redirecionar sitemap.xml para o sitemap do OJS
    RewriteRule ^sitemap\.xml$ index.php/index/sitemap [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [QSA,L]